.viewport-height {
    height: 100vh;
    min-height: 100vh;
}

.job-title {
    color: white;
}

button .octicon {
    padding-right: 10px;
}

a.job-title:hover {
    color: white;
}

.button-light {
    color:white;
    -o-transition:.3s;
    -ms-transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;
    /* ...and now for the proper property */
    transition:.3s;
}

/*transitions for normal button-primary stuff*/
.button-primary {
    -o-transition:.3s;
    -ms-transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;
    /* ...and now for the proper property */
    transition:.3s;
}

.button-light:hover  {
    background-color:white;
}

/*just make sure the scrollbar is always there to prevent jumpyness*/
body {
    overflow-y: scroll;
}

.segment-wrapper {
    position:absolute;
    height: 100%;
    width: 100%;
}

.segment {
    position:relative;
    height:100%;
    width:100%;
    z-index: 1000;
}

.card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  height: 300px;
  margin: 1rem;
  position: relative;
  width: 300px;
}

.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card-3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card-4 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.card-content {
    padding-top:15px;
    padding-left:20px;
    padding-right:20px;
    padding-bottom:15px;
}

#fullscreen-intro {
    -webkit-transition: width 0.5s; /* Safari */
    transition: width 0.5s;
    transition-timing-function: ease-in-out;
}

.height-ease {
    -webkit-transition: all 0.5s ease; /* Safari */
    transition: all 0.5s ease;
    transition-timing-function: ease;
}

.source-sans {
    font-family: 'Source Sans Pro', sans-serif;
}

.center {
    text-align: center;
}

i.large {
    font-size: 3rem;
}

@-webkit-keyframes toshiba {
    from{
        margin-top:0;
        opacity: 1;
       
    }
    to{
        margin-top: 30px;
        opacity: 0;
    }
}
.arrow-animation {
    -webkit-animation: toshiba 1.75s ease-in-out infinite;
    -webkit-animation-delay: 1s;
}

.full-width {
    width: 100%;
}

#main {
    transition: margin-left .5s;
    margin-left: 250px;
}

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 250px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
#everything {
    display:none
}
